.container{
    height: 800px; 
    background: #648880;
    background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
    /* width:700px; */
    /* border: 2px solid black; */
    /* background-color:lemonchiffon; */
    /* background-image: url(image/img1.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    /* display: flex; Initialize the container as a flex box */
  }
  .navi{
    color: rgb(16, 112, 107);
    font-weight: 900;
    width: 100%;
    height: 50px;
    background-color: rgb(156, 144, 226);
    box-shadow: 0px 16px 32px 0px rgb(127, 121, 158);
    font-size: 30px;
    margin-bottom: 20px;
    /* margin-left: 40px; */
    padding-left: 40px;
}
.item{
    width: 380px;
    height: 500px;
    /* background-color: rgb(243, 178, 167); */
    /* border: 2px solid rgb(176, 224, 176); */
    margin: 10px;
    padding: 3px;
}
.dropbtn {
    background-color: #ce68c9;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    width: 350px;
    /* margin-left: 13px; */
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e77c7c;
    min-width: 350px;
    margin-left: 40px;
    box-shadow: 0px 8px 16px 0px rgba(173, 171, 171, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #33db49;}

  #marq
{
    background-color:rgb(228, 137, 110);
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 500;
}
/* Fixed sidenav, full height */
/* .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
} */

/* Style the sidenav links and the dropdown button */
/* .dropdown-btn {
  background-color: #ce68c9;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 350px;
  margin-left: 13px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
} */

/* On mouse-over */
.dropbtn:hover {
  color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

